name: manage-db

on:
  workflow_dispatch: {}

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  update-site:
    runs-on: ubuntu-latest

    env:
      PYTHON_GIL: 0
      UV_CACHE_DIR: /tmp/.uv-cache

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set-up s5cmd
        uses: peak/action-setup-s5cmd@main
        with:
          version: v2.3.0

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Restore uv cache
        uses: actions/cache@v4
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

      - name: Restore S3 cache
        run: s5cmd --endpoint-url $AWS_ENDPOINT cp s3://ed-news-cache/ednews.db ednews.db
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.GARAGE_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.GARAGE_SECRET_KEY }}
          AWS_ENDPOINT: ${{ secrets.GARAGE_ENDPOINT }}
          AWS_DEFAULT_REGION: ${{ secrets.GARAGE_DEFAULT_REGION }}

      - name: Install dependencies
        run: uv sync

      - name: Fetch and build website
        run: |
          uv run ednews manage-db rematch-dois --only-wrong
          uv run ednews manage-db rematch-dois --only-missing
          uv run ednews manage-db remove-feed-articles
          uv run python main.py manage-db run-all --older-than-days 7

      - name: Upload ednews.db to S3 cache
        run: s5cmd --endpoint-url $AWS_ENDPOINT cp ednews.db s3://ed-news-cache/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.GARAGE_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.GARAGE_SECRET_KEY }}
          AWS_ENDPOINT: ${{ secrets.GARAGE_ENDPOINT }}
          AWS_DEFAULT_REGION: ${{ secrets.GARAGE_DEFAULT_REGION }}

      - name: Minimize uv cache
        run: uv cache prune --ci
      